<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.exam.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>com.dao.DBConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.exam.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.exam.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>com.exam.servlets.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.exam.servlets.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>com.exam.servlets.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>com.exam.servlets.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollCourseServlet</servlet-name>
        <servlet-class>com.exam.servlets.EnrollCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCourseServlet</servlet-name>
        <servlet-class>com.exam.servlets.CancelCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseApprovalServlet</servlet-name>
        <servlet-class>com.exam.servlets.CourseApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCancellationServlet</servlet-name>
        <servlet-class>com.exam.servlets.RequestCancellationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultCal</servlet-name>
        <servlet-class>com.exam.servlets.ResultCal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollCourseServlet</servlet-name>
        <url-pattern>/EnrollCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCourseServlet</servlet-name>
        <url-pattern>/CancelCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseApprovalServlet</servlet-name>
        <url-pattern>/CourseApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCancellationServlet</servlet-name>
        <url-pattern>/RequestCancellationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultCal</servlet-name>
        <url-pattern>/ResultCal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
